@font-face {
  font-family: 'BMJUA';
  src: url('/public/fonts/otf/BMJUA_otf.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.rowDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

body,
input,
button {
  font-family: 'BMJUA', Arial, sans-serif;
}

.main {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

/* WriteInfo */

.mainInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}
.subTitle {
  font-size: 22px;
  margin: 0;
}
.inputDiv {
  display: flex;
  margin-left: 5%;
  flex-direction: column;
  width: 80%;
}
.productInfo {
  font-size: 20px;
}

.productInput {
  width: 100%;
  min-width: 250px;
  height: 30px;
  border-radius: 8px;
  font-size: 20px;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.productInfo2 {
  font-size: 20px;
  margin-top: 10px;
}

.mainInput {
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'BMJUA', Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 500px;
  padding: 10px; /* 내부 여백 */
  resize: none; /* 크기 조절 불가능 */
}

.titleDiv {
  height: auto;
}

.buttonDiv {
  display: flex;
  justify-content: right;
}
.mainButton {
  width: 30%;
  height: 60px;
  font-size: 20px;
  padding: 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: white;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.customFileButton {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.customFileButton:hover {
  background-color: #0056b3;
}

.fileName {
  margin-left: 15px;
  font-size: 22px;
  color: #555;
}

/* MakeTem */

.revDiv {
  width: 520px;
  margin-top: 10px;
}

.revTem {
  margin-top: 10px;
  width: 520px;
  height: 28px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

.mainTem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.temButtonDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
/* WriteRev */
.leftDiv {
  width: 520px;
  justify-content: left;
}

.mainInputRev {
  width: 520px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'BMJUA', Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 440px;
  padding: 10px; /* 내부 여백 */
  resize: none; /* 크기 조절 불가능 */
}
/* 활성화된 버튼 스타일 */
.activeButton {
  background-color: #007bff; /* 파란색 배경 */
  color: #fff; /* 흰색 텍스트 */
}
.notActiveButton {
  width: 30%;
  height: 60px;
  font-size: 20px;
  padding: 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

/* 모달 배경 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 모달 내용 */
.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  text-align: center;
}

/*제품 품목*/
.productGrid {
  display: grid;
  grid-template-columns: repeat(
    5,
    1fr
  ); /* 가로 5개씩 배치 */
  gap: 20px; /* 카드 간격 */
  padding: 20px;
}

.productCard {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.productCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.productName {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px;
}

.productPrice {
  font-size: 16px;
  color: #007bff;
  margin-bottom: 5px;
}

.productDescription {
  font-size: 14px;
  color: #555;
}

.productImageRev {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

.productNameRev {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 5px;
}

.productPriceRev {
  font-size: 18px;
  color: #007bff;
  margin-bottom: 10px;
}

.productDescriptionRev {
  font-size: 20px;
  color: #555;
}

.productRow {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.productDetails {
  display: flex;
  flex: 3;
  flex-direction: row;
  width: 40%;
}

.productInfo {
  margin-left: 20px;
}

.revForm {
  display: flex;
  flex-direction: column;
  justify-items: right;
  align-items: right;
  flex: 1;
}
